---
layout: default
---
<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

<div class="container">

  <article>
    {% include post-header.html %}
    {{ content }}
  </article>

  {% include share.html %}

</div>

